.contact-page{
    background-color: $bg;
    p{
        padding: 0 15% 2.5rem 15%;
        line-height: 2;
    }
    .icon{
        background-color: #e8e5e5 ;
    }
}
.contact-location{
    padding: 5.5rem 0 7rem 0;
    text-align: center;
    p{
        padding: 1.5rem 20% 5.5rem 20%;
        line-height: 2;
    }
}
form{
    input{
        width: 100%;
        font-size: 1.2rem;
        padding: 1rem;
        margin-bottom: 1.5rem;
        border-radius: 5px;
        border: 1px solid #e4e2e2;
    }
    #message{
        padding-bottom: 35vh;
    }
    button{
        background-color: $primary;
        font-size: 1.2rem;
        padding: 1.6rem 2.4rem;
        border: 0;
        border-radius: 3rem;
        margin-top: 1rem;
        a{
            color: white;
        }
    }
}