.procing-page-box{
    background-color: white;
    border: 1px solid #e4e2e2;
    border-radius: 5px;
    padding: 2.5rem;
    h4{
        color: $text-dark;
        padding-bottom: 1.5rem;
    }
    span{
        display: inline-block;
        padding: 1.4rem 0 1.8rem 0;
    }
    p{
        padding: 1.1rem;
        color: $text-dark;
    }
    li{
        padding-bottom: 0.7rem;
    }
    button{
        padding: 0.5rem 1rem;
        margin-top: 1rem;
    }
}
.pricing-FAQ{
    padding: 5.5rem 0;
    text-align: center;
    p{
        padding: 1.5rem 0 6.5rem 0;
    }
}
.FAQ-box{
    text-align: start;
    border: 1px solid #e4e2e2;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    h3{
        font-size: 1rem;
    }
    p{
        padding: 1.5rem 0 ;
    }
}